.icon-left-spacer {
  padding-left: 0.25rem;
}

.edit-inline-container {
  position: relative;
}

.inner-input {
  margin: 0;
}

.edit-inline-controls {
  background: white;
  position: absolute;
  right: 0;
}
