#masthead {
  background-image: url('https://www.ebi.ac.uk/web_guidelines/EBI-Framework/v1.1/images/backgrounds/training-yellow-5.jpg');
}

.dropdown-on-light-background {
  color: black !important;
}

.dropdown-on-light-background::after {
  border-color: black transparent transparent !important;
}

.dropdown-on-dark-background {
  color: white !important;
}

.cursor {
  cursor: pointer;
}

.secondary-background-important {
  background-color: #555555 !important;
}

.strikeout {
  text-decoration: line-through;
}

.anchor-like {
  cursor: pointer;
  color: #222;
  line-height: initial;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: inherit;
}

.archived {
  color: red;
  /* display: inline-flex;*/
  margin-right: 3px;
}

.archived button {
  padding-left: 3px;
  color: red;
}

/*#checkboxMapping{*/
input[type='checkbox'] {
  width: 14px;
  height: 14px;
  border: 10px solid;
  /*top: 4px;*/
  position: relative;
  cursor: pointer;
}

input[type='checkbox'] + span {
  font-size: 16px;
  /*display: contents;*/
  padding: 3px;
}

input[type='checkbox']:checked {
  border: 13px solid;
  /*top: 7px;*/
  position: relative;
}

input[type='checkbox']:checked + span {
  border: 2px solid green;
  padding: 3px;
}

input[type='checkbox']:checked + div > .attribute_label {
  border: 2px solid green;
  padding: 3px;
}

.submit_fixed {
  padding: 10px;
  background: #f1f1f1;
  text-align: center;
  bottom: 0px;
}

.competency_list {
  border: 1px dashed #ccc;
  padding: 10px;
  margin-bottom: 5px;
  list-style-type: none;
}

.domain_list {
  list-style-type: none;
}

.domain_title {
  /*font-weight: 600;*/
  left: 20px;
  position: relative;
}

.attribute_title {
  list-style-type: none;
}

.attribute_title:checkbox {
  top: 0;
}

.attribute_label {
  font-size: large;
  list-style-type: none;
  margin-bottom: 7px;
  font-weight: normal;
  cursor: pointer;
  color: #737373;
}

.attribute_label.checked {
  color: #0a0a0a;
}

.attribute_type {
  font-size: large;
  list-style-type: none;
  margin-bottom: 7px;
  font-weight: 600;
}

.competency_section {
  /*  border: 1px outset #ccc;
*/
  margin-top: 30px;
  padding: 10px;
}

.form_intro {
  font-size: large;
  font-weight: lighter;
  margin-top: 20px;
  margin-bottom: 20px;
  /*left: 40px;*/
  position: relative;
}

.icon-custom {
  margin: 10px;
}

.button {
  font-size: larger;
}
